// Shadow

.initial-shadow{
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
}

.second-shadow{
  -webkit-box-shadow: 0 14px 30px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 14px 30px rgba(0,0,0,0.1);
  box-shadow: 0 14px 30px rgba(0,0,0,0.1);
}

.icon-shadow{
  -webkit-filter: drop-shadow(4px 0px 1px rgba(0,0,0,0.1));
  -moz-filter: drop-shadow(4px 0px 1px rgba(0,0,0,0.1));
  filter: drop-shadow(4px 0px 10px rgba(0,0,0,0.1));
}

.initial-border{
  border: solid 1px #E0E0E0;
}

.headers-shadow{
  -webkit-box-shadow: 0 -8px 10px 5px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 -8px 10px 5px rgba(0,0,0,0.4);
  box-shadow: 0 -8px 10px 5px rgba(0,0,0,0.4);
}

// Blur

.blur{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}