// Default Values

$default-position: absolute !default;
$default-top: 0 !default;
$default-left: 0 !default;
$default-translateX: 0 !default;
$default-translateY: 0 !default;
$default-color: 0 !default;
$default-rgba-percent: .02 !default;
$default-have-element: null !default;
$default-have-position-b : null !default;

// Colors

$color-grey : #fafafa;
$color-grey-a : #EEEEEE;
$color-grey-l : #F5F5F5;
$color-text-default : #4F4F4F;

$color-text-primary : #9E9E9E;

$first-color-a : #FFC371;
$first-color-b : #FF5F6D;

$second-color-a: #ff9068;
$second-color-b: #ff4b1f;