// Main

section{
  display: table;
  padding: 10px 0;
  margin-top: 80px;
  position: relative;
  .media, .list-group{
    cursor: pointer;
    position: relative;
    &:hover{
      .action-container{
        display: block;
      }
    }
  }
  .media{
    .publication-date{
      font-size: 10px;
      text-align: right;
    }
  }
  .subscribe-form{
    width: 500px;
    background: #fff;
    margin: 0 auto;
    @extend .second-shadow;
    overflow: hidden;
    .form-header{
      margin-bottom: 15px;
      border-bottom: solid 1px rgba(0, 0, 0, 0.1);
      padding: 10px;
      background: $color-grey-l;
    }
  }
  .subscribe-bottom{
    text-align: center;
  }
  .form-group{
    margin: 0 0 15px !important;
    div[class=col-sm-10]{
      float: none;
      margin: 0 auto;
    }
  }
  .basic-style{
    background: #fff;
    padding: 20px;
    // @extend .second-shadow;
  }
  .action-container{
    position: absolute;
    bottom: 10px;
    right: 5px;
    display: none;
    .target-action{
      li{
        display: inline-block;
      }
    }
    &.float-right{
      float: right;
    }
    @extend .clear-fix;
  }
  // Profile
  .profil-main{
    margin-bottom: 100px;
    .profile-header{
      border-top: solid 4px $custum-primary-color;
      @extend .clear-fix;
      .gravatar{
        .content{
          text-align: center;
          img{
            width: 120px;
            border-radius: 50%;
          }
          .profile-infos{
            font-size: 28px;
            display: inline-block;
            margin: 0 5px;
            font-weight: bold;
            padding: 5px;
            border-radius: 8px;
            border: solid 1px #ccc;
            background: #fff;
            box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
            span{
              font-weight: lighter;
            }
          }
        }
      }
    }
    .profile-body{
      background: #fff;
      @extend .clear-fix;
      color: $color-text-default;
      aside{
        max-height: 1000px;
        overflow-y: scroll;
        &.toolbox{
          // background: $custum-primary-color;
        }
        position: relative;
        //float: left;
        //width: 33.33%;
        .aside-body{
          margin-top: 35px;
          >div{
            &:not(last-child){
              padding-bottom: 10px;
              border-bottom: solid 1px rgba(0,0,0,0.1);
            }
          }
          //.media, .list-group{
          //  cursor: pointer;
          //  position: relative;
          //  &:hover{
          //    .action-container{
          //      display: block;
          //    }
          //  }
          //}
          .media{
            &:hover{
              background: #F5F5F5;
            }
          }
          .card{
            cursor: pointer;
            background: #fff;
            margin-top: 35px;
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
            border: none !important;
            @extend .second-shadow;
            span{
              &.ico{
                padding: 20px;
                width: 100%;
                display: block;
                text-align: center;
                span{
                  padding: 40px 0;
                  color: #fff;
                  @extend .icon-shadow;
                  font-size: 50px;
                }
              }
            }
            div{
              &.card-body{
                margin: 0 20px;
              }
            }
            &:not(last-child){
              margin-bottom: 15px;
              @extend .initial-border;
            }
          }
        }
        .title{
          position: absolute;
          top:0;
          left: 0;
          text-align: left;
          // color: #fff;
          font-size: 18px;
          font-weight: bold;
          letter-spacing: 1px;
          // background: $custum-primary-color;
          padding: 10px 8px;
          width: 100%;
          z-index: 1;
        }
      }
    }
    .profile-body{
      margin: 5px 0;
      .card-title{
        margin-bottom: 1px;
        font-size: 18px;
      }
      .card-text{
        max-width: 80%;
        font-size: 12px;
      }
      a{
        margin-top: 5px;
      }
    }
  }
  .profile-footer{
    background: #fff;
    margin: 50px 0;
    padding: 20px;
    @extend .second-shadow;
    .btn-default{
      border: solid;
    }
  }
}

select{
  color: $color-text-primary;
}


a{
  text-decoration: none;
  color: #9E9E9E;
  @include setSimpleTransition(0.3);
  &:hover, &:focus, &:target, &:active{
    text-decoration: none;
    color: #757575;
  }
}


// HEADER

nav{
  position: fixed;
  width: 100%;
  top: 0;
  margin-bottom: 80px;
  z-index: 5;
}

.head{
  display: flex;
  top: 0;
  height: 80px;
  background: #fff;
  &.navigation{
    // @extend .headers-shadow;
  }
}

.menu{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: initial;
  @extend .initial-border;
  @extend .clear-fix;

  // Ul pull-left and pull right

  ul{
    display: table;
    height: 100%;
    //@include marginFirstNlast(10px);
    li{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative;

      cursor: pointer;
      a{
        display: block;
        position: relative;
        outline: none;
        @extend .ico-size;
        span{
          &.title{
            display: block;
            font-size: 12px;
            margin-top: 5px;
            .notify{
              position: absolute;
              top: 0;
              right: 10px;
              border-radius: 4px;
              text-align: center;
              padding: 0 5px;
              background: #ff5646;
              color: #fff;
            }
          }
        }
        &:first-child{
          min-width: 40px;
        }
      }
      ul.list-menu{
        display: none;
        position: absolute;
        top: 95px;
        padding: 0;
        z-index:1;
        height: initial;
        @extend .clear-fix;
        background: #fff;
        width: 300px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        @extend .initial-border;
        @extend .initial-shadow;

        &.left{
          left: 10px;
          &:before{
            @include custumPseudoPosition(absolute, -10px, 10px, 10px, $default-translateY, $default-color, $default-rgba-percent, true);
          }
        }
        &.right{
          right: 10px;
          &:before{
            @include custumPseudoPosition(absolute, -10px, 90%, -90%, $default-translateY, $default-color, $default-rgba-percent, true);
          }
        }

        // Initialiser

        li{
          display: block;
          padding: initial !important;
          margin: initial !important;
          border: initial !important;
          position: initial;
          a{
            display: flex;
            justify-content: center;
            // align-items: center;
            width: 100%;
            outline: none;
            @extend .clear-fix;
            span{
              &.pull-left, &.pull-right{
                padding: 10px;
                @extend .clear-fix;
                span{
                  display: block;
                  &.title{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }
              }
              &.pull-left{
                width: 40%;
              }
              &.pull-right{
                position: relative;
                width: 60%;
                padding-left: 10px;
                border-left: solid 1px rgba(0,0,0,0.1) !important;
                text-align: center;
                p, span{
                  @include custumPseudoPosition(absolute, 50%, 50%, -50%, -50%, null, null, null);
                  font-size: 12px;
                  text-align: center;
                  padding: 0 10px;
                  width: 100%;
                }
              }
            }
            &:hover, &:focus, &:target, &:active{
              color: #fff;
              @extend .firs-gradiant-color-nt;
            }
          }
          &:not(:first-child){
            padding-top: 10px;
            border-top: solid 1px rgba(0,0,0,0.1) !important;
          }
          //&:first-child{
          //  a{
          //    &:hover, &:focus, &:target, &:active{
          //      color: #fff;
          //      @extend .firs-gradiant-color-nt;
          //      @at-root {
          //        li{
          //          @at-root {
          //            ul{
          //              &.right, &.left{
          //                &:hover:before{
          //                  border-bottom-color: $first-color-a !important;
          //                }
          //              }
          //            }
          //          }
          //        }
          //      }
          //    }
          //  }
          //}
        }
      }
      a{
        img{
          max-width: 153px;
        }
      }
      &.open{
        ul.list-menu{
          display: block;
        }
        background: #EEEEEE;
      }
    }
  }

  // Separators

  .bottom-separator{
    &:not(last-child){
      padding-bottom: 10px;
      border-bottom: solid 1px rgba(0,0,0,0.1);
    }
  }

  ul{
    &.pull-left{
      li{
        a{
          span{
            &.first-title{
              @extend .firs-gradiant-color;
            }
          }
        }
        &:not(:first-child){
          padding-left: 10px;
          border-left: solid 1px rgba(0,0,0,0.1);
          @at-root li{
            padding-right: 10px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  ul{
    &.pull-right{
      li{
        padding-left: 10px;
        border-left: solid 1px rgba(0,0,0,0.1);
        @at-root li{
          padding-right: 10px;
          padding-left: 10px;
        }
      }
    }
  }
}

// Footer
footer{
  display: flex;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  background: #fff;
  z-index: 5;
  ul{
    li{
      position: relative;
      a{
        font-size: 18px !important;
        span{
          &.title{
            font-size: 10px !important;
          }
        }
      }
      &:hover, &:focus, &:target, &:active{
        ul.list-menu{
          display: block !important;
          bottom: 100% !important;
          top: initial !important;
          overflow: hidden;
          &.left{
            left: 10px;
            &:before{
              border: none !important;
            }
          }
          &.right{
            right: 10px;
            &:before{
              border: none !important;
            }
          }
        }
      }
    }
  }
}